*{
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#lottery{
  width: 800px;
  height: 800px;
  background-color: rgb(182, 182, 56);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrapBall{
  width: 400px;
  height: 400px;
  background-color:rgb(176, 173, 173);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius:20%;
}


.ball{
  border-radius: 100%;
  background-color: rgb(53, 195, 53);
  width: 100px;
  height: 100px;
}

#lotteryBody{
  width: 300px;
  height: 300px;
  background-color:rgb(211, 66, 66);
}

/* animate rotate를 활용해 중심축을 50 50으로 잡고 사각버튼의 중심을 기준으로 -90도 회전하다가 0도로 다시 돌아가는 느낌으로 */
#slot{
  width: 25px;
  height: 100px;
  background-color:silver;
  margin: 0 auto;
  margin-top: 100px;
}


#myNum{
  width: 100px;
  height: 800px;
  background-color:white;
  text-align: center;
}

/*
  처음에는 단순히 버튼을 돌릴 때마다 아래에서부터 구체 내부에 innerHTML로 텍스트를 넣는 방식 RANDOM(1~45) 중복금지.. 
  이후 가능하면 공이 굴러가는 모션으로 아래쪽에 위치시키는 애니메이션을 양쪽 번호칸에 투입.. 
*/
.myNum{
  width: 100px;
  height: 110px;
  border-radius: 100%;
  background-color:rgb(97, 221, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  line-height:2;
  font-weight: bold;
}

/* my bonus num */
.myNum:last-child{
  background-color:rgb(168, 88, 168);
}

/* 버튼을 최초로 돌리면 innerHTML로 각각의 구체에 당첨번호 넣기 RANDOM(1~45) 중복금지.. */
.myNum:first-child{
  margin-top:30px;
}

/* winning ball이 표시될 영역 */
#winningNum{
  width: 100px;
  height: 800px;
  background-color:white;
}


.winningNum{
  width: 100px;
  height: 110px;
  border-radius: 100%;
  background-color:rgb(235, 211, 73);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  line-height:2;
  font-weight: bold;
}

/* bonus winning num */
.winningNum:last-child{
  background-color:rgb(168, 88, 168);
}

/*버튼을 최초로 돌리면 innerHTML로 각각의 구체에 당첨번호 넣기 RANDOM(1~45) 중복금지.. */
.winningNum:first-child{  
  margin-top:30px;
}